/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* body {
	line-height: 1;
} */
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	width: 100%;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header, main, footer{
	max-width: 1140px;
	margin:auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav a {
	text-decoration: none;
}
nav a:active {
	font-weight: bold;
}
nav img {
width: 20px;
height: 20px;
}
li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 60px;
	padding: 92px;
}
#introduction img {
	width: 474px;
	height: 355px;
/* 	display: block;
	margin: auto;
	width: 80%; */
}

#introduction article {
	display: flex;
	width: 474px;
	height: 355px;
	flex-direction: column;
	justify-content: center;
	column-gap: 20px;
	
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio {
	display: flex;
	flex-direction: column;
	padding: 0 92px;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 20px;




/* 	
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px; */
}

.gallery img {
	/* width: 100%; */
	width: 305px;
	height: 407px;
}
#contact {
	width: 380px;
    margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	height: 36px;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}



/* CATEGORIES */
.categories {
    display: flex;
    justify-content: center;
    align-items: center;
	column-gap: 20px;
	margin-bottom: 30px;
}

/* Boutons */
.cat  {
	display: flex;
    justify-content: center;
    align-items: center;
	color:#1D6154;
    background-color: white;
	font-size: 14px;
	font-weight: bold;
	height: 36px;
    padding: 19px;
    border-radius: 60px;
}
.cat-focused {
	color: white;
    background-color: #1D6154;
}
button {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 19px;
    border-radius: 60px;
}






















footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}



/* Log In */

.login-main {
	height: 864px;
}
#login {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	/* width: 50%; */
	width: 379px;
	margin: auto;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login a {
align-self: center;
color: #000;	
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
button[type="submit"]{
	height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	border: none;
}
input[type="email"] {
	appearance: none;
	width: 100%;
	border: 1px solid #333;
	margin: 0;
	font-family: inherit;
	font-size: 90%;
	box-sizing: border-box;
  }

  
/* Style for error messages */
.email-err {
	width: 100%;
	padding: 0;
	font-size: 80%;
	color: white;
	background-color: #900;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
}
.email-err.active {
	padding: 0.3em;
}
.email-val {
	width: 100%;
	padding: 0;
	font-size: 80%;
	color: white;
	background-color: #032411;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
}
.email-val .active {
	padding: 0.3em;
}
/* The message box is shown when the user clicks on the password field */
/* #message {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	display:none;
	background: #f1f1f1;
	color: #000;
}
  
#message p {
	padding: 10px 35px;
	font-size: 14px;
  }
#message h3 {
	font-size: 16px;
} */
  /* Add a green text color and a checkmark when the requirements are right */
.valid {
	color: green;
  }
.valid:before {
	content: "✔";
  }
  


  /* BOUTON EDITION ET MODIFICATION */
.edition-visible {
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	background-color: #000;
	box-sizing: border-box;
}
.modification-visible {
	display: flex;
	column-gap: 10px;
	padding: 10px 0 0 0;
}
.edition-visible div , .modification-visible div {
	display: flex;
	justify-content: center;
	text-decoration: none;
}
.edition-visible div {
	color: white;
}

.modification-visible div {
	color: black;
}

.edition-visible img , .modification-visible img {
	height: 16px;
	width: 16px;
}
.edition-invisible , .modification-invisible {
	display: none;
}


 /* TITRE MES PROJETS */
.mes-projets {
	display: flex;
	justify-content: center;
	column-gap: 30px;
	margin-bottom: 1em;
}
.mes-projets h2 {
	display: flex;
	color: #1D6154;
}
/* .mes-projets div {
	display: flex;
} */



/* MODALES */
.invisible {
	display: none;
}
.visible {
	display: flex;
}
#modale {
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: gray;
	opacity: 0.95;
  }
.modale-content {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
	align-items: center;
	width: 630px;
	height: 688px;
	background-color: white;
	opacity: 1;
	/* box-sizing: border-box; */
	border-radius: 10px;
	/* z-index: 1; */
}
/* MODALE GALLERY */
#modale-gallery {
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
	width: 630px;
	min-height: 688px;
	opacity: 1;

  }
.gallery-title {
	font-size: 26px;
	font-weight: normal;
}
.gallery-works {
	width: 420px;
	height: 390px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 30px;
	align-content: baseline;
	box-sizing: border-box;
  }
/* .gallery-works figure {
	width: 76px;
	height: 104px;
	display: flex;
}
.gallery-works img {
	position: absolute;
	width: 76px;
	height: 104px;
} */
.gallery-add {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 237px;
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    padding: 19px;
	color: white;
    background-color: #1D6154;
    border-radius: 18px;
}

/* MODALE ADD WORK */
#modale-form, #modale-form-preview {
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
	width: 630px;
	height: 670px;
	opacity: 1;
  }
.form-head {
	display: flex;
	justify-content: space-between;
	width: 590px;
	margin-top:20px;
}
.gallery-head  {
	display: flex;
	justify-content: right;
	width: 590px;
	margin-top:20px;
}

.form-head i, .gallery-head i {
	color: black;
	font-size: large;
	font-size: 24px;
}
.close-modale {
	border: none;
	background: none;
	padding-right: 10px;
}
.previous-modale {
	border: none;
	background: none;
	padding-left: 10px;
}
.modale-title {
	font-size: 26px;
}

.form-work {
	width: 420px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	row-gap: 30px;
	box-sizing: border-box;
  }

.form-work input, select {
	width: 420px;
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.file-preview {
	/* display: flex; */
	width: 420px;
	height: 169px;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
	background-color: #E8F1F6;
	border-radius: 10px;
}
.file-title {
	display: flex;
	width: 420px;
	flex-direction: column;
	row-gap: 10px;
}
.file-category {
	display: flex;
	width: 420px;
	flex-direction: column;
	row-gap: 10px;
}
.image-preview {
	width: 420px;
	height: 169px;
	justify-content: center;
	align-items: center;
	background-color: #E8F1F6;
	border-radius: 60px;
}
.file-preview img {
	width: 76px;
	height: 76px;
}
.image-preview img {
	display: flex;
	width: 130px;
	height: 169px;
}

.file-preview input {
	width: 173px;
    font-size: 14px;
    font-weight: bold;
    padding: 19px;
	color: white;
    background-color: #A7A7A7;
    border-radius: 18px;
}


.image-preview input {
	width: 173px;
	height: 36px;
    font-size: 14px;
    font-weight: bold;
    padding: 19px;
	color: white;
    background-color: #011612;
    border-radius: 18px;
}
.div-image-input {
    font-size: 10px;
	color: #444444;
}
.submit-add {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 237px;
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    padding: 19px;
	color: white;
    background-color: #A7A7A7;
    border-radius: 60px;
}
.submit-add-preview {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 237px;
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    padding: 19px;
	color: white;
    background-color: #1D6154;
    border-radius: 60px;
}

.button-image-input {
    display: flex;
	width: 173px;
    justify-content: center;
    align-items: center;
    height: 36px;
    font-size: 14px;
	color: #306685;
    background-color: #CBD6DC;
    border-radius: 60px;
}
  /* MODALE BOUTONS CLOSE AND PREVIOUS */

.modale-work {
	display: flex;
	width: 76px;
	height: 104px;
	justify-content: right;
}
.class-work-image {
	position: absolute;
	width: 76px;
	height: 104px;
}
.button-work-remove {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4px;
	width: 17px;
	height: 17px;
    z-index: 1;
	background-color: #000;
	padding: 4px;
	border: none;
	border-radius: 4px;
}
.fa-solid, .fa-trash-can{
	font-size: 10px;
	color: white;
	text-align: center;
}  
.modale-separator {
	width: 420px;
	height: 1px;
	background-color: #B3B3B3;
}


/* FIN Les Modales */

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
